<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micropole.homemodule">

    <application>
        <activity android:name=".HouseDetailActivity"/>
        <activity android:name=".CommitSucActivity"/>
        <activity android:name=".EvaluationActivity"/>
        <activity android:name=".EvaluationListActivity"/>
        <activity android:name=".order.OrderDetailActivity"/>
        <activity android:name=".ReportHouseActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".order.FillOrderActivity"/>
        <activity android:name=".mine.MineNoticeActivity"/>
        <activity android:name=".mine.MineCollectActivity"/>
        <activity android:name=".mine.NoticeDetailActivity"/>
    </application>

</manifest>